<!--项目首页-->
<div class="app-cointer wrapper {{ctrl.page1Style}}"
    ng-style="{
        '-webkit-transition-duration': ctrl.speed + 'ms',
        '-moz-transition-duration': ctrl.speed + 'ms',
        '-ms-transition-duration': ctrl.speed + 'ms',
        '-o-transition-duration': ctrl.speed + 'ms',
        'transition-duration': ctrl.speed + 'ms'
    }">
    <div class="index-cointer-main">
        <div class="index-nav">
            <li ng-class="{'active': data.active}" ng-repeat="data in infoCategory" ng-click="categoryClick(data)">
                <span ng-bind="data.name"></span>
            </li>
        </div>
        <div class="clear"></div>
        <hot-reserous></hot-reserous>
        <ul class="indexres-list-ul">
            <li ng-repeat="infoList in infoLists track by $index" ng-if="$index>2" class="animated dn-lightspeed" ng-click="linkToDetail(infoList.id)">
                <img ng-src="{{infoList.article.cover}}" image-404>
                <div class="child-list">
                    <h3 class="text-overflow" ng-bind="infoList.article.title">
                        
                    </h3>
                    <div class="content" ng-bind="infoList.article.contentText">
                       
                    </div>
                    <i ng-bind="infoList.infoCategory.name"></i>
                    <time ng-bind="infoList.article.publishTimeStr"></time>
                </div>
            </li>
        </ul>
    </div>
    <pagination></pagination>
    <side-tool></side-tool>
</div>
