@import '../../../resources/css/global';
.app-cointer {
    width: 100%;
    height: 100%;
    background-color: #eee;
}

.index-cointer-main {
    width: $baseWidth;
    height: 100%;
    margin: 0 auto;
    padding: $basePadding;
    background-color: #fff;
}

.index-nav {
    line-height: 70px;
    width: 100%;
    height: 62px;
    margin-bottom: 25px;
    border-bottom: 1px solid $baseColor;
    li {
        font-size: 18px;
        font-weight: 700;
        float: left;
        width: 14.2857143%;
        text-align: center;
        letter-spacing: 2px;
        color: #705330;
        &:hover,
        &:active,
        &:focus {
            cursor: pointer;
            color: $baseColor;
        }
    }
    li.active {
        color: $baseColor;
    }
}

.indexres-list-ul {
    li {
        position: relative;
        height: 137px;
        padding: 20px 0;
        img {
            position: absolute;
            top: 20px;
            left: 0;
            width: 150px;
            height: 98px;
        }
    }
    .child-list {
        width: 100%;
        padding-left: 168px;
        label {
            font-size: 18px;
            font-weight: 700;
            padding-bottom: 10px;
            cursor: pointer;
            color: #3b3b3b;
        }
        .content {
            line-height: 20px;
            overflow: hidden;
            height: 40px;
            max-height: 40px;
            margin-top: 10px;
            margin-bottom: 6px;
            color: #999;
        }
        i {
            font-weight: 700;
            font-style: normal;
            color: #705330;
        }
        time {
            float: right;
            color: $baseColor;
        }
    }
    li:not(:last-of-type) {
        border-bottom: 1px solid #ccc;
    }
}
