@import "compass/css3";

.side-tool {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9;
    >ul{
	    >li{
    	    border: 1px solid #dcdcdc;
		    background-color: #fff;
		    @include transition(.1s ease-in);
	    }
	    .function-button{
    	    width: 54px;
		    height: 54px;
		    text-align: center;
		    display: block;
		    i{
	    	    padding-top: 12px;
			    font-size: 20px;
			    display: block;
		    }
	    }
    }
}
@media (max-width:681px) {
    .side-tool{
		bottom: 66px;
	}
	.side-tool>ul .function-button {
		width: 27px;
		height: 34px;
	}
	.side-tool>ul .function-button i{
		padding-top: 0;
	}
}