<div class="bg_box_main">
    <div class="bg_main_div">
        <div class="bg_header_div">
            <div class="bg_header">
                <!-- /<div id="lg_logo"></div> -->
                <div class="bg_logo">
                    <img src="img/logo.png" />
                </div>

                <div class="header_menu row" ng-repeat="list in menuData" ng-class="{'active':list.active}" ng-click="updataMenu(list.id)" >
                    <div>{{list.name}}</div>
                </div>
            </div>
        </div>
        <div class="bg_main">
            <div class="bac_login_main">
                <div ui-view ></div>
            </div>
        </div>
          <div class="bg_foot">Copyright © 2014-2016 YUNZHUJIA.CN .All Rights Reserved.苏ICP备13020149号</div>
    </div>
    
  
</div>