<div class="middle-box register">
    <div class="lg-page-name"><strong>忘记</strong>密码</div>
    <form class="form-horizontal w5c-form" name="regForm" novalidate w5c-form-validate="vm.validateOptions">
        <label class="f-item">
            <input class="f-text" type="text" name="tel" placeholder="请输入手机号码" ng-model="telphone" 
                required  ng-pattern="/1[0-9]{10}/" ng-minlength="11" ng-maxlength="11"/>
            <span class="glyphicon glyphicon-phone"></span>
        </label>
        <div class="error-tip" id="msg-tel-div">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span id="msg-tel-text"></span>
        </div>
        <label class="f-item">
            <input class="f-text" type="number" name="validCode" placeholder="请输入验证码" ng-model="validCode" required/>
            <div class="identify-btn " id="btn-send">{{text}}</div>
        </label>

        <div class="register-rule"></div>
        <a class="sub-btn btn" w5c-form-submit="next();">下一步</a>
        <a class="go-back" ui-sref="account.login">返回登录</a>
    </form>
</div>