<div class="lg_box_main">
    <div class="lg_page_name">
        <strong>登录云筑加账号</strong>
    </div>
    <form>
        <label class="lg_item">
            <input type="text" class="lg_text" placeholder="请输入用户名" ng-blur="phoneYz()" ng-model="vmModel.loginId"/>
            <span  class="iconfont icon-geren-copy"></span>
        </label>
        <div class="sj tishi" ng-show="errorShow.phoneShow"><i class="iconfont icon-gantanhao"></i>{{errorShow.phoneError}}</div>
        <label class="lg_item">
            <input type="passWord" class="lg_text" placeholder="请输入密码" ng-model="vmModel.password">
            <span  class="iconfont icon-mima"></span>
        </label>
        <div class="mima tishi" ng-show="errorShow.passwordShow"><i class="iconfont icon-gantanhao"></i>{{errorShow.passwordError}}</div>
        <div class="lg_btn" ng-click="submit()">立即登录</div>
        <div class="lg_other">
            <ul>
                <li>
                    <div ng-click="tenxunLogin()"><i class="iconfont icon-QQ"></i></div>
                </li>
                <li>
                    <div ng-click="wxLogin()"><i class="iconfont icon-weixin"></i></div>
                </li>
                <li>
                    <div ng-click="weiboLogin()"><i class="iconfont icon-xinlangweibo"></i></div>
                </li>
            </ul>
        </div>
        <div class="passWord_fuwu">
            <ul>
                <li ng-click="xzmm()">忘记密码</li>
                <li ui-sref="password.register">马上注册</li>
            </ul>
        </div>
    </form>
</div>