@import '../../../resources/css/global';
@import 'compass/css3';
// new-item{
// 	.inp-ele{padding-left: 76px;}
// 	.sim-select{
// 	  &.sel-xb:before{left: 4px; color: rgba(0,0,0,.5);content: '性别';}
// 	  &.sel-xl:before{left: 4px; color: rgba(0,0,0,.5);content: '学历';}
// 	  &.sel-hy:before{left: 4px; color: rgba(0,0,0,.5);content: '行业';}
// 	  &.sel-zw:before{left: 4px; color: rgba(0,0,0,.5);content: '职位';}
// 	  &.sel-rq:before{left: 4px; color: rgba(0,0,0,.5);content: '出生日期';}
//       .select-val{padding: 0;}
// 	}
// }
// .middle-box form {
//     margin: 0 auto;
//     width: 90%;
// }
// .f-item {
//     position: relative;
//     display: block;
//     margin: 0 auto;
//     padding: 8px 0;
//     width: 100%;
//     input[type='checkbox']{
//         position: absolute;
//         top: 12px;
//         left: 0;
//     }
//     .f-text {
//         padding: 8px 10px;
//         width: 100%;
//         height: 36px;
//         outline: 0;
//         border: none;
//         border-radius: 3px;
//         background: rgba(0,0,0,.2);
//         color: rgba(255,255,255,.5);
//         font-weight: 500;
//         font-size: 12px;
//         line-height: 16px;
//     }
//     &.f-check {
//         float: left;
//         margin-bottom: 20px;
//         width: auto;
//         height: 36px;
//         color: rgba(0,0,0,.8);
//         font-weight: 500;
//         font-size: 12px;
//         line-height: 20px;
//     }
//     .identify-btn{
//         position: absolute;
//         top: 8px;
//         right: 0;
//         padding: 0 7px;
//         height: 36px;
//         border-radius: 3px;
//         background: #428bca;
//         color: #fff;
//         text-align: center;
//         font-weight: 500;
//         font-size: 12px;
//         line-height: 36px;
//         cursor: pointer;
//     }
//     .iconfont{
//         position: absolute;
//         top: 15px;
//         right: 7px;
//         color: #e2e2e2;
//         font-size: 18px;
//     }
// }
// .forget-password {
//     float: right;
//     height: 38px;
//     font-size: 12px;
//     line-height: 38px;
//     cursor: pointer;
// }
// .register-rule {
//     clear: both;
//     margin: 20px auto;
//     width: 100%;
//     border-top: 5px dashed #000;
//     border-top-color: rgba(0,0,0,.1);
// }
// .btn-group {
//     width: 100%;
//     height: 36px;
//     text-align: center;
// }
// .btn-group, .btn-group-vertical {
//     position: relative;
//     display: inline-block;
//     vertical-align: middle;
// }
// .login-btn {
//     display: inline-block;
//     padding: 0 15px;
//     height: 36px;
//     border-radius: 3px;
//     background: #498cff;
//     color: #fff;
//     line-height: 36px;
//     cursor: pointer;
// }
// .or {
//     display: inline-block;
//     padding: 0 15px;
//     height: 36px;
//     color:rgba(0,0,0,.8);
//     font-size: 12px;
//     line-height: 36px;
// }
// .register-btn {
//     display: inline-block;
//     padding: 0 15px;
//     height: 36px;
//     border-radius: 3px;
//     background: #536781;
//     color: #fff;
//     line-height: 36px;
// }
// .lg-other {
//     margin: 0 auto;
//     width: 90%;
//     .login-other{
//         margin-top: 10px;
//         height: 40px;
//         color: rgba(0,0,0,.8);
//         line-height: 40px;
//     }
//     .login-other-list{
//         margin: 0 -20px;
//         list-style: none;
//         &:after{
//             display: block;
//             clear: both;
//             content: '';
//         }
//     }
//     .other-ele{
//         float: left;
//         padding: 5px 20px 10px 20px;
//         width: 33.3%;
//         text-align: center;
//         img {
//             width: 60%;
//         }
//     }
// }
// .new-login-page .new-login2-page  {
//     .f-item{
//         .f-text{
//             padding-right: 28px;
//             border: 1px solid #e2e2e2;
//             background-color: #fff;
//             color: #000;
//         }
//     }
// }
// .sub-btn{
//     display: block;
//     margin: 0 auto;
//     margin-top: 22px;
//     margin-bottom: 20px;
//     width: 100%;
//     height: 50px;
//     border-radius: 5px;
//     background: #498cff;
//     color: #fff;
//     text-align: center;
//     font-size: 14px;
//     line-height: 50px;
//     cursor: pointer;
// }
// .go-back {
//     display: block;
//     margin-top: 10px;
//     height: 36px;
//     color: #000;
//     text-align: center;
//     font-size: 12px;
//     line-height: 36px;
//     div{
//         position: relative;
//         margin: 0 auto;
//         width: 96px;
//         .iconfont{
//             position: absolute;
//             top: 2px;
//             left: 5px;
//         }
//     }
// }

@media screen and (max-device-width: 800px){
    .lg_box_main{
        top:50px !important;
        margin: 0 auto;
        display: table;
        width:100% !important;
        right: 0 !important;
    }
}
.bg_box_main{
    width: 100%;
    height: 100%;
    .bg_foot{
        position: absolute;
        bottom: 0;
        left: 50%;
        height: 48px;
        color: #feb907;
        text-align: center;
        font-size: 12px;
        line-height: 48px;
        transform:translate(-50%,0);
    }
}
.bg_main_div{
    height: 100%;
    .bg_header_div{
        position: relative;
        z-index: 1024;
        height: 80px;
        .bg_logo{
                float: left;
                margin-top: 5px;
                margin-right: 5%;
                margin-left: 5px;
                width: 71px;
                height: 70px;
                background-repeat: no-repeat;
                & img{
                    width: 71px;
                    height: 70px; 
                }
                }
        .bg_header{
            padding-left: 15%;
            width: 80%;
            height: 80px;
            background-color: white;
            color: #705330;
            text-align: center;
           .header_menu.row{
               float: left;
           }
            .header_menu{
               margin-right: 5%;
               width: 80px;
               height: 80px;
               cursor: pointer;
                &:focus,
                &:active,
                &:hover {
                     border-bottom: 3px solid $baseColor;
                    div {
                        color: $baseColor;
                        }
                    }
                    &.active {
                        border-bottom: 3px solid $baseColor;
                        div {
                        color: $baseColor;
                        }
                    }
               
            & div{
                 margin: 0 0px;
                 padding-top: 28px;
                 font-weight: 700;
                 font-size: 18px;
                 cursor: pointer;
            }
            }
        }
      
        
    }
    
    .bg_main{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        padding-top: 80px;
        padding-bottom: 48px;
        width: 100%;
        height: 100%;
        .bac_login_main{
            width: 100%;
            height: 100%;
            background: url('../img/bgImg.png') top center no-repeat;
        }
    }
}
.lg_box_main{
    position: absolute;
    top: 250px;
    right: 200px;
    float: right;
    padding: 10px 20px;
    width:  300px;
    height: 280px;
    background-color: white;
            .sj{
            position: absolute;
            top: 87px;
            color: red;
           
        }
        .mima{
            position: absolute;
            top: 145px;
            color: red; 
        }
        .tishi{
            font-size: 12px;       
            .iconfont{
                position: relative;
                top:1px;
                font-size: 12px;
            }
        }
    .lg_btn{
        margin-top: 10px;
        padding-top:7px; 
        width: 100%;
        height: 36px;
        background-color: #feb907;
        color: white;
        text-align: center;
        font-size: 16px;
        cursor: pointer;

        @include box-shadow(2px 2px 6px 3px #fdefc6);
    }
    .lg_page_name{
        padding-bottom: 10px;
    }
}
.lg_item{
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    width: 100%;
    
    input:focus{   
            border: 1px solid #feb907;
             &::placeholder{
                        color:#feb907;
            }   
            &+.iconfont{
                color: #feb907;
            }
        }
    input:hover{
            border: 1px solid #feb907;
             &::placeholder{
                        color:#feb907;
            } 
            &+.iconfont{
                color: #feb907;
            }
    }

    .lg_text{
        padding: 8px 10px;
        width: 100%;
        height: 36px;
        outline: 0;
        border: 1px solid #eaeaea;
        border-radius: 3px;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        &::placeholder{
        color: #eaeaea;
    }
    }
    
     .iconfont{
        position: absolute;
        top: 15px;
        right: 7px;
        color: #e2e2e2;
        font-size: 18px;
    }
    .icon-mima{
        font-size: 28px;
        top: 10px;
        right: 2.5px;
    }
     .yzm{
        float: left;
        width: 168px;
     }
    .fsyzm{
        float: left;
        margin-left: 8px;
        padding-top:7px; 
        width: 144px;
        height: 36px;
        background-color: #feb907;
        color: white;
        text-align: center;
        font-size: 16px;
        cursor: pointer;

        @include box-shadow(2px 2px 6px 3px #fdefc6);
    }
}
.zsError{
        position: absolute;
        top: 303px;
        color: red; 
        font-size: 100px;
        }
.lg_other{
    ul li{
        float: left;
        padding-top: 12px;
        padding-right: 8px;
    }
    .iconfont{
        font-size: 22px;
        cursor: pointer;
    }
    
}
.icon-QQ{
    color: #d42d19;
}
.icon-weixin{
    color: #46b035;
}
.icon-xinlangweibo{
    color: #feb907;
}
.passWord_fuwu{
    position: absolute;
    right: 0;
    margin-top: 50px;
    padding-right: 15px;
    ul li{
        float: left;
        padding-left: 40px;
        color: #705330;
        font-size: 14px;
        cursor: pointer;
        
    }

}
.res_div{
       position:absolute;
        top:50%;
        left:50%;
        width:1025px;
        height:435px;
        background-color:white;

        @include transform(translate(-50%,-50%));
        @include box-shadow(0 5px 15px rgba(0,0,0,.5));
        .sj{
            position: absolute;
            top: 108px;
            color: #999999;
        }
        .mima{
            position: absolute;
            top: 220px;
            color: red; 
        }
        .yzmError{
            position: absolute;
            top: 165px;
            color: red; 
        }
        .tishi{
            font-size: 12px;       
            .iconfont{
                position: relative;
                top:1px;
                font-size: 12px;
            }
        }
        .res_left{
            float: left;
            margin: 40px 6px;
            padding: 0px 90px;
            width: 500px;
            height: 375px;

            .res_title{
                color: #705330;
                font-size: 18x;
            }
        }
        .res_right{
            float: left;
            margin: 40px -50px;
            width: 500px;
            height: 375px;
        }
        .lg_sz{
            .yzj_zs{
                position: absolute;
                margin-top: 5px;
                border: 1px solid red;
            }
            & span{
                margin-left: 15px;
                color: #414141;
                font-size: 12px;
            }
        }
        .zc_btn{
             position: relative;
             top:15px;
             padding-top:7px; 
             width: 100%;
             height: 36px;
             background-color: #feb907;
             color: white;
             text-align: center;
             font-size: 16px;
             cursor: pointer;

             @include box-shadow(2px 2px 6px 3px #fdefc6);
        }
}
.res_right{
    padding: 60px;
  
    .lidl{
        margin: 40px 140px;
        width: 100%;
    .dl{
        position: absolute;
        top: 140px;
        left: 730px;
        padding: 0px 5px;
        border-bottom: 1px solid #feb907;
        color: #feb907;
        cursor: pointer;

        }
    }
    .other{
        margin-top: 50px;
        width: 400px;
        height: 150px;
        border-top: 1px solid #bdaf9f;
        .other_font{
            position: absolute;
            top: 200px;
            left: 669px;
            padding: 0px 10px;
            background-color: white;
        }
        .other_zh{
            padding-top: 25px;
            padding-left: 110px;
            .iconfont{
                padding-right: 30px;
                font-size: 40px;
                cursor: pointer;
            }
            ul li{
                float: left;
            }
            
        }
    }
}