@import '../../../resources/css/global';
@import 'compass/css3';

.pwd-last-last{
    width:100%;
    height:100%;
}
.pwd-last{
    width:100%;
    height:100%;
}
.pwd-background{
    position:relative;
    width:100%;
    height:100%;
    background:url("../img/header.png") no-repeat;
    .yunzhujia-logo{
        position:absolute;
        top: -75px;
        left:40px;
        width:70px;
        height:60px;
       
    }           
    .password-main{
        position:absolute;
        top:50%;
        // height:435px;
        left:50%;
        width:1025px;
        background-color:white;

        @include transform(translate(-50%,-50%));
        @include box-shadow(0 5px 15px rgba(0,0,0,.5));
        .password-header{
            margin:0 auto 10px;

            width:100%;
            height:78px;
            color:#705330;
            text-align: center;
            font-weight:700;
            font-size:18px;
            line-height: 78px;
        }
        .qrzh-title-bar{
            margin:0 58px 50px;

            height:35px;
            border-bottom:1px solid rgb(229,229,229);
            .qrzh-title-bar-inner{
                margin:0 205px;

                height:100%;
                .title-bar1,.title-bar2,.title-bar3{
                    float:left;
                    margin-right:105px;
                    width:95px;
                    height:100%;
                    color:#414141;
                    text-align: center;
                    font-weight:700;
                    font-size:14px;
                    line-height: 35px;
                }
                .title-bar3{
                    float:right;
                    margin-right:0px;
                }
                .checked{
                    border-bottom:1px solid rgb(254,185,7);

                    color:#feb907;
                }
            }
        }
       
        .xgmmcg-img{
            margin-bottom:20px;

            height:66px;
            background:url('../img/xgmmcg.png') center no-repeat;
        }
        .xgmmcg{
            margin-bottom:35px;

            padding-left:360px;
            height:42px;
            .xgmmcg-text{
                width:300px;

                height:42px;
                color:#705330;
                text-align: center;
                font-weight: 700;
                font-size:16px;
                line-height: 42px;
            }
        }
        
        .xgmm-title-bar{
            margin:0 58px;
        }
        .xgmm-text{
            padding-left:360px;

            height:50px;
            color: #705330;
            font-weight:700;
            font-size:16px;
            line-height: 50px;
        }
        .sjyz{
            padding-left:360px;

            height:60px;
            .sjyz-content{
                height:30px;
                font-weight:700;
                font-size:16px;
                line-height: 30px;
            }
            .sjyz-tel{
                height:30px;
                font-weight:700;
                font-size:16px;
                line-height: 30px;
                span{
                    color:#feb907;
                }
            }
        }
        .sr-input{
            margin-bottom:30px;
            padding-left:360px;

            height:40px;
            .sr{
                padding-right:45px;
                padding-left:16px;

                width:300px;
                height:100%;
                border:1px solid rgb(234,234,234);
                color: #feb907;
                font-size:16px;
                &:hover , &:focus{
                    border: 1px solid $baseColor;
                    &::placeholder{
                        color:#feb907;
                    }
                    &+.icon-geren-copy{
                        color: $baseColor;
                    }
                }
                &::placeholder{
                    color:#cccccc;

                    font-size:16px;
                }
            }
            .icon-geren-copy{
                position:relative;
                right:30px;
                color:rgb(234,234,234);
            }
            
        }
        .password-disaccord-warning{
            padding-left:360px;
        }
        .yzm-input{
            padding-left:360px;

            height:40px;
            .yzm-sr{
                float:left;
                margin-right:5px;
                padding-right:45px;
                padding-left:16px;
                width:180px;
                height:40px;
                border:1px solid rgb(234,234,234);
                color: #feb907;
                font-size:16px;
                &:hover , &:focus{
                    border: 1px solid #feb907;
                    color: #feb907;
                    &::placeholder{
                        color:#feb907;
                    }
                }
                &::placeholder{
                    color:#cccccc;

                    font-size:16px;
                }
            }
            .yzm-btn{
                float:left;
                width:115px;
                height:40px;
                background-color: #feb907;
                color:white;
                text-align: center;
                font-weight:700;
                font-size:16px;
                line-height: 40px;
                cursor:pointer;
            }
            .getting{
                background-color:#705330;
                opacity:0.5;
            }
            .yzm-image{
                float:left;
                width:115px;
                height:40px;
            }
            
        }
        .yzm-yz{
            margin-bottom:25px;
            padding-left:360px;

            height:20px;
            line-height: 20px;
            .valicode-warning{
                float:left;
                margin-right:5px;
                width:180px;
                height:20px;
                line-height: 20px;
            }
            .yzm-text{
                float:left;
                width:115px;
                height:20px;
                color:#feb907;
                text-align: center;
                font-weight:700;
                font-size:12px;
                line-height: 20px;
                cursor:pointer;
            }
        }
        .yzm-dx{
            margin-bottom:40px;
        }
        .next{
            margin-bottom:45px;
            padding-left:360px;

            height:40px;
            cursor:pointer;
            .next-step{
                width:300px;
                height:40px;
                background-color:#feb907;
                color:white;

                text-align: center;
                font-weight:700;
                font-size:16px;
                line-height: 40px;
            }
        }
        .ensure-account-next{
            margin-bottom:5px;
        }
        
        .login{
            margin-bottom:5px;
            padding-left:460px;

            height:30px;
            .login-text{
                width:110px;
                height:30px;
                color:#705330;
                text-align: center;
                font-weight:700;
                font-size:14.5px;
                line-height: 30px;
                cursor:pointer;
            }
        }
        
    }
}
.ts{
    height:20px;
    color:red;
    font-size: 12px;       
    line-height: 20px;
    .iconfont{
        position: relative;
        top:1px;
        font-size: 12px;
    }
}

.copyright-text{
    position:fixed;
    bottom:0px;
    width:100%;
    height:40px;
    color:#feb907;
    text-align: center;
    font-weight:700;
    font-size:12px;
    line-height: 40px;
}