@import "../../../../resources/css/global";
@import "../../../../resources/css/mixin";
$bannerHeight:365px;

@media screen and (max-device-width: 800px){
    .hot-reserous-dyn {
        height: 0;
        margin-bottom: 185px;
    }
    .binna-dyn {
    position: absolute;
    left: 0;
    width: 100%;
    height: 185px;
    float: left;
    margin-right: -510px;
    z-index: 12;
      img{
    min-height:100%;
    max-height: 185px;
    width:100%;
  }
  .nivo-controlNav{
    position: absolute;
    bottom: -19px;
    right: 0;
    z-index: 999;
  }
}
.nivoSlider{
  height:100%;
}
.hot-reserous-list{
  float: left;
  padding-left:540px;
  width: 0;
  height: 0;
  display: none;
  .child-list{
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    cursor: pointer;
  }
  .child-list:last-of-type{
    border-bottom: none;
  }
  .child-list{
    h3 {
        font-size: 18px;
        cursor: pointer;
        color: #3b3b3b;
    }
    .content{
      color: #999;
      overflow: hidden;
      line-height: 20px;
      margin-top: 10px;
      margin-bottom: 6px;
      height: 44px;
      @include text-line-clamp(2);
    }
    i{
      color: #705330;
      font-style: normal;
      font-weight: 700;
    }
    time{
      color: $baseColor;
      float: right;
    }
  }
  .child-list:not(:first-of-type){
    padding-top:15px;
  }
}
}

@media screen and (min-device-width: 801px){
    .hot-reserous-dyn{
    height:$bannerHeight;
  }
  .binna-dyn{
  position: relative;
  z-index: 12;
  float: left;
  margin-right: -510px;
  width: 510px;
  height: inherit;
  img{
    min-height:$bannerHeight;
    max-height: $bannerHeight;
    width:100%;
  }
  .nivo-controlNav{
    position: absolute;
    right: 0;
    bottom: -19px;
    z-index: 999;
  }
}
.nivoSlider{
  height:auto;
}
.hot-reserous-list{
  float: left;
  padding-left:540px;
  width: 100%;
  height: inherit;
  .child-list{
    padding-bottom: 10px;

    width: 100%;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  .child-list:last-of-type{
    border-bottom: none;
  }
  .child-list{
    h3 {
        color: #3b3b3b;

        font-size: 18px;
        cursor: pointer;
    }
    .content{
      overflow: hidden;
      margin-top: 10px;
      margin-bottom: 6px;
      height: 44px;

      color: #999;
      line-height: 21px;

      @include text-line-clamp(2);
    }
    i{
      color: #705330;
      font-weight: 700;
      font-style: normal;
    }
    time{
      float: right;

      color: $baseColor;
    }
  }
  .child-list:not(:first-of-type){
    padding-top:15px;
  }
}
}






