<div class="app-header" ng-style="headerStyle">
    <header>
        <div class="nav-contain">
            <nav class="home-nav">
                <div class="row logo">
                    <img src="images/logo.png">
                </div>
                <div class="row list-row active" id="index" data-tag = "0">
                        <div>资&nbsp;&nbsp;讯</div>
                </div>
                <div class="row list-row" id="resources" data-tag = "1">
                    <div>资&nbsp;&nbsp;源</div>
                </div>
                <div class="row list-row" data-tag = "2">
                    <div>社交圈</div>
                </div>
                <div class="row list-row" data-tag = "3">
                    <div>智建云</div>
                </div>

            </nav>
            <div class="home-nav-left">
                <div class="login-in-dyn" ng-if="!token" ui-sref="account.login">
                    登录
                </div>
                <div class="login-out-dyn" ng-if="token" ng-click="loginOut()">
                    退出
                </div>
                <div class="header-user-info" ng-if="token">
                    <div class="user-img">
                        <img image-404 ng-src="{{userData.portrait}}">
                    </div>
                    <div class="user-name text-overflow" ng-bind="userData.account.nickName">
                    </div>
                </div>
                <div class="nav-search-dyn">
                    <input type="text" placeholder="请输入标题进行搜索" name="">
                </div>
            </div>
            <!-- <div class="clear"></div> -->
        </div>
    </header>
    <div class="header-top-main" ng-style="headerStyle">

    </div>
</div>
