<div class="app-header" ng-style="headerStyle">
    <header ng-style="headerBacStyle">
        <div class="nav-contain">
            <nav class="home-nav">
                <div class="row logo">
                    <img src="images/logo.png">
                </div>
                <div class="row list-row" id="index" data-tag = "0">
                        <div>资&nbsp;&nbsp;讯</div>
                </div>
                <div class="row list-row" id="resources" data-tag = "1">
                    <div>资&nbsp;&nbsp;源</div>
                </div>
                <div class="row list-row" id="connections" data-tag = "2">
                    <div>社交圈</div>
                </div>
                <div class="row list-row" data-tag = "3">
                    <div>智建云</div>
                </div>

            </nav>
            <div class="home-nav-left">
                <div class="login-in-dyn" ng-if="!token" ui-sref="account.login">
                    登录
                </div>
                <div class="login-out-dyn" ng-if="token" ng-click="loginOut()">
                    退出
                </div>
                <div class="header-user-info" ng-if="token">
                    <div class="user-img">
                        <img image-404 ng-src="{{userData.portrait}}">
                    </div>
                    <div class="user-name text-overflow" ng-bind="userData.account.nickName">
                    </div>
                    <div class="user_set_op">
                        <div class="triangle_up"></div>
                        <ul class="in_user_box">
                            <li class="user_item" ui-sref="grzl">
                                <i class="iconfont icon-jinlingyingcaiwangtubiao12"></i>
                                个人资料
                            </li>
                            <li class="user_item" ng-click="updatePwd()">
                                <i class="iconfont icon-mima1"></i>
                                修改密码
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="nav-search-dyn">
                    <input type="text" placeholder="请输入标题进行搜索" name="">
                </div>
            </div>
            <!-- <div class="clear"></div> -->
        </div>
    </header>
    <div class="header-top-main" ng-style="headerTopStyle">

    </div>
</div>



<div class="app-header-mobile">
    <div class="header-title" ng-bind="phoneTitle"></div>
    <!--<div class="search_mobile"></div>-->
</div>
<div class="modal add-teammember-dialog ng-scope" role="dialog" ng-show="updatePwdStatus">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="close" ng-click="closeUpdatePwd()"><i class="iconfont icon-guanbi"></i></div>
            <div class="modal-header">
                修改密码
            </div>
            <div class="modal-body">
                <form class="dialog-form w5c-form form-horizontal" w5c-form-validate="vm.validateOptions" name="upPwdForm">
                    <div class="form-group">
                        <div class="control-input-dyn">
                            <input type="password" name="password" ng-model="pwd.password" placeholder="请输入原密码" ng-pattern="/^[a-zA-Z\d]{6,16}$/" required>
                            <span class="w5c-error" ng-if="oldPwdErr">原密码错误</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-input-dyn">
                            <input type="password" name="newpassword" ng-model="pwd.newpassword" placeholder="请输入新密码" ng-pattern="/^[a-zA-Z\d]{6,16}$/" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-input-dyn">
                            <input type="password" name="curpassword"  w5c-repeat="newpassword" ng-model="pwd.curpassword" placeholder="确认密码" ng-pattern="/^[a-zA-Z\d]{6,16}$/" required>
                        </div>
                    </div>
                    <div class="success-btn-dyn">
                        <div class="btn save-btn"  w5c-form-submit="subUpdatePwd()">
                            保&nbsp;&nbsp;存
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<success-dialog info-text="successDialog.infoText" btn-text="successDialog.btnText" ng-show="successDialog.status" dialog-sure-click="dialogSureClick()"></success-dialog>

