<div class="list_info_main ">
    <div ng-if="dynamicData.canDel">
        <i class="iconfont icon-jiantou1" ng-click="listDelFun(dynamicData)"></i>
        <div class="layer_menu_list" ng-if="dynamicData.showDel">
            <ul>
                <li ng-click="delDynamc(dynamicData,$index)"><a href="javascript:;">删除</a></li>
            </ul>
        </div>
    </div>
    <div class="sender_info">
        <img ng-src="{{dynamicData.userInfo.portrait}}" alt="">
        <div class="sender_info_text">
            <p>
                <span class="send_user_name" ng-bind="dynamicData.userInfo.realName"></span>
                <em class="lab" ng-bind="dynamicData.userInfo.industry"></em>
            </p>
            <p>
                <span class="company_name" ng-bind="dynamicData.userInfo.enterprise"></span>
            </p>
        </div>
    </div>
    <div class="sender_content">
        <div class="content_text" ng-bind-html="dynamicData.content | emotionsToHtml">
        </div>
        <div class="sender_image_div" ng-if="!dynamicData.isShowBigImg && dynamicData.rmImgs.length>0">
            <div class="media_wrap">
                <!--定宽度,9张图片378px-->
                <ul class="media_a_mn" ng-class="{false:'smill',true:'big'}[dynamicData.rmImgs.length===4||dynamicData.rmImgs.length===8]">
                    <li class="bigcursor" ng-repeat="senderImg in dynamicData.rmImgs" ng-click="showBigImg(dynamicData,$index)">
                        <img ng-src="{{senderImg.imgUrl}}" alt="">
                    </li>
                </ul>
            </div>
        </div>
        <div class="sender_to_big" ng-if="dynamicData.isShowBigImg">
            <div class="sender_tab">
                <ul class="clearflx">
                    <li>
                        <span class="line" ng-click="cancelBigImg(dynamicData)">
                            <a href="javascript:;">
                                <i class="iconfont icon-shouqi"></i>收起
                            </a>
                        </span>
                    </li>
                    <li>
                        <span class="line">
                            <a href="javascript:;">
                                <i class="iconfont icon-fangdajing"></i>查看大图
                            </a>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="big_media_view">
                <ul class="clearflx big_img_ul">
                    <img class="big_img" ng-src="{{dynamicData.currentImg}}" alt="">
                    <li class="one" ng-if="dynamicData.currentBigImgIndex>0" ng-click="prevBigImg(dynamicData)">

                    </li>
                    <li class="two" ng-click="cancelBigImg(dynamicData)">

                    </li>
                    <li class="three" ng-if="dynamicData.currentBigImgIndex<dynamicData.rmImgs.length-1" ng-click="nextBigImg(dynamicData)">

                    </li>
                </ul>
            </div>
            <div class="stage_box">
                <ul>
                    <li ng-repeat="smallImg in dynamicData.rmImgs" ng-click="tabBigImg(dynamicData,$index)">
                        <a href="javascript:;" ng-class="{true:'active'}[smallImg.active]">
                            <img ng-src="{{smallImg.imgUrl}}" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sender_list_bottom">
        <div class="option_div">
            <a ng-click="laudation(dynamicData)">
                <em class="iconfont" ng-class="{true:'icon-zan1',false:'icon-zan2'}[dynamicData.laudationStatus==0]"></em>
                <span ng-bind="dynamicData.laudationCount"></span>
            </a>
            <a>
                <em class="iconfont icon-pinlun"></em>{{dynamicData.replyCount}}
            </a>
            <!--<a>
                <em class="iconfont icon-edit"></em>写评论
            </a>-->
        </div>
        <time ng-bind="dynamicData.publishTime | dateFilter">
            
        </time>
    </div>
</div>
<!--currTo:2代表显示留言,1显示赞-->
<div class="list_replay_div list_comment_div connections_replay rm_detail_div">
        <div class="replay_text_div">
        <img ng-src="{{userData.portrait}}" alt="">
        <div class="replay_textarea_round">
            <textarea auto-textarea ng-model="dynamicData.replayContent"></textarea>
        </div>
    </div>
    <div class="send_other">
        <!--<a class="img">
                图片
            </a>-->
        <a class="face" id="repeatface{{dynamicData.id}}" ng-click="replayListEmojClick(dynamicData);">
            表情
        </a>
        <div class="send_btn" ng-click="replyNew(dynamicData)">
            发布
        </div>
        <!--表情包-->
        <div class="face_content_div emojDiv replay_emoj_div" id="repeatEmoj{{dynamicData.id}}" ng-if="dynamicData.emojStatus">
            <div class="emoj_triangle_up replay_emoj one"></div>
            <div class="emoj_triangle_up replay_emoj two"></div>
            <div class="concat">
                <ul class="clearflx">
                    <li ng-repeat="face in faceList" ng-click="replayListselEmoj(dynamicData,face)">
                        <img ng-src="{{face.url}}">
                    </li>
                </ul>
            </div>
        </div>
        <!--表情-->
    </div>
</div>
<div class="list_replay_div clearflx zan_list">
    <div class="detail_zan_right">
        <img ng-src="{{i.laudationUser.portrait}}" alt="" ng-repeat="i in zanList | limitTo:3">
    </div>
    <div class="detail_zan_name">
        <span class="name">
            {{zanName}}
        </span>
        <span ng-if="zanList.length>3">等人</span>
        <span class="other">
            觉得赞
        </span>
    </div>
</div>
<div class="detail_dl_div">
    <dl>
        全部评论
    </dl>
</div>
<div class="list_replay_div list_comment_div connections_replay">
    <div class="list_answer_div">
        <!--评论列表-->
        <div class="replay_text_div" ng-repeat="replaylist in dynamicData.rmReplys">
            <img ng-src="{{replaylist.replyUser.portrait}}" alt="">
            <div class="other_comment_div">
                <div class="child_replay_div">
                    <p class="name">
                        <span class="user" ng-bind-template="{{replaylist.replyUser.realName}}:"></span>
                        <span class="content" ng-bind-html="replaylist.content | emotionsToHtml"></span>
                    </p>
                    <div class="repeat_text_option">
                        <div class="op_handle">
                            <ul>
                                <!--<li><em class="iconfont icon-zan1"></em>赞</li>-->
                                <li id="replaylist_{{replaylist.id}}" ng-click="displayComp(replaylist,2,$event)">回复</li>
                                <li class="del_li" ng-click="delFirstReplay(dynamicData,replaylist,$index)" ng-if="replaylist.canDel">删除</li>
                            </ul>
                            <time ng-bind="replaylist.replyTime | dateFilter"></time>
                        </div>
                    </div>
                </div>
                <!--2显示评论-->
                <div class="comment_first_repeat rm_detail_div" ng-if="replaylist.currTo === 2">
                    <div class="repeat_triangle_up"></div>
                    <div class="list_replay_div list_comment_div connections_replay">
                        <div class="replay_text_div">
                            <img ng-src="{{userData.portrait}}" alt="">
                            <div class="replay_textarea_round">
                                <textarea auto-textarea ng-model="replaylist.replayContent"></textarea>
                            </div>
                        </div>
                        <div class="send_other">
                            <!--<a class="img">
                                    图片
                                </a>-->
                            <a class="face" id="toRpelayUserface{{replaylist.id}}" ng-click="toRpelayUserEmojClick(replaylist);">
                                表情
                            </a>
                            <div class="send_btn" ng-click="replytoRpelayUser(dynamicData,replaylist,$event)">
                                发布
                            </div>
                            <!--表情包-->
                            <div class="face_content_div emojDiv replay_emoj_div" id="toRpelayUserEmoj{{replaylist.id}}" ng-if="replaylist.emojStatus">
                                <div class="emoj_triangle_up replay_emoj one"></div>
                                <div class="emoj_triangle_up replay_emoj two"></div>
                                <div class="concat">
                                    <ul class="clearflx">
                                        <li ng-repeat="face in faceList" ng-click="toRpelayUserselEmoj(replaylist,face)">
                                            <img ng-src="{{face.url}}">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--表情-->
                        </div>
                    </div>
                </div>
                <!--回复-->
                <div class="comment_repeat_list" ng-if="replaylist.rmReplyChild.length>0">
                    <!--<div class="repeat_triangle_up"></div>-->
                    <!--回复人列表-->
                    <div class="list_ul" ng-repeat="replayChildList in replaylist.rmReplyChild track by replayChildList.id">
                        <div class="repeat_text">
                            <a ng-bind="replayChildList.replyUser.realName"></a>
                            <span ng-if="replayChildList.toReplyUser.id !== replaylist.replyUserId">:回复</span>
                            <a ng-if="replayChildList.toReplyUser.id !== replaylist.replyUserId" ng-bind-template="@{{replayChildList.toReplyUser.realName}}"></a>                            :
                            <span class="w_html_rep" ng-bind-html="replayChildList.content | emotionsToHtml"></span>
                        </div>
                        <!--对评论图片的处理-->
                        <div class="repeat_media_box"></div>
                        <!--对回复图片的处理-->
                        <!-- 对回复的操作 -->
                        <div class="repeat_text_option">
                            <div class="op_handle">
                                <ul>
                                    <!--<li><em class="iconfont icon-zan1"></em>赞</li>-->
                                    <li id="replayChild_{{replayChildList.id}}" ng-click="replyChildComp(replayChildList,2,$event)">回复</li>
                                    <li class="child_del_li" ng-click="delChildReplay(dynamicData,replaylist,replayChildList,$index)" ng-if="replayChildList.canDel">删除</li>
                                </ul>
                                <time ng-bind="replayChildList.replyTime | dateFilter"></time>
                            </div>
                            <div class="list_replay_div list_comment_div connections_replay" ng-if="replayChildList.currTo === 2">
                                <div class="triangle_up"></div>
                                <div class="replay_text_div">
                                    <img ng-src="{{userData.portrait}}" alt="">
                                    <div class="replay_textarea_round">
                                        <textarea auto-textarea ng-model="replayChildList.replayContent"></textarea>
                                    </div>
                                </div>
                                <div class="send_other">
                                    <!--<a class="img">
                                            图片
                                        </a>-->
                                    <a class="face" id="replayChildface{{replayChildList.id}}" ng-click="replayChildEmojClick(replayChildList);">
                                        表情
                                    </a>
                                    <div class="send_btn" ng-click="replytoRpelayChildUser(dynamicData,replaylist,replayChildList,$event)">
                                        发布
                                    </div>
                                    <!--表情包-->
                                    <div class="face_content_div emojDiv replay_emoj_div" id="replayChildEmoj{{replayChildList.id}}" ng-if="replayChildList.emojStatus">
                                        <div class="emoj_triangle_up replay_emoj one"></div>
                                        <div class="emoj_triangle_up replay_emoj two"></div>
                                        <div class="concat">
                                            <ul class="clearflx">
                                                <li ng-repeat="face in faceList" ng-click="replayChildEmoj(replayChildList,face)">
                                                    <img ng-src="{{face.url}}">
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--表情-->
                                </div>
                            </div>
                        </div>
                        <!-- 对评论的操作 -->
                    </div>
                    <div class="list_ul" ng-if="replaylist.rmReplyChildCount>10 && !replaylist.hideMore">
                        <div class="repeat_text">
                            <a href="javascript:;" ng-click="loadMoreChildReplay(replaylist)" ng-bind-template="共{{replaylist.rmReplyChildCount}}条回复"></a>
                        </div>
                    </div>
                    <!--回复人列表-->
                </div>
                <!--回复-->
            </div>
        </div>
        <!--评论列表-->
        <div class="load_more_div" ng-if="moreStatus && !dynamicData.loadReplay" ng-click="loadMoreReplay(dynamicData);">
            <span>查看更多<i class="iconfont icon-jiantou"></i></span>
        </div>
        <div class="con_loading_div" ng-if="dynamicData.loadReplay">
            <p>
                <i class="con_loading"></i>正在加载中，请稍候...
            </p>
        </div>
    </div>
</div>
<div class="con_nomore_div" ng-if="!moreStatus">
    <p>
        <i class="iconfont icon-tishi"></i>已读完所有评论
    </p>
</div>
<info-dialog info-data="infoData" info-sure-click="infoSureClick()"></info-dialog>